.notFound { 
  width: 100%; 
  text-align: center; 
  margin: 205px 0;
  .message { 
    color: #F33C3C; 
    font-size: 24px; 
    font-weight: 400; 
    letter-spacing: 0.2px; 
    margin: 0; 
  }
  .bottomMessage { 
    line-height: 58px; 
  }
}