$star-width: 23px;

.starRate {
  position: relative;
  font-size: $star-width;
  &::before, &::after {
    content: "★★★★★";
    letter-spacing: 3px;
    color: #ffffff;
    -webkit-text-stroke: 1px #F5B76E;
    position: absolute;
    top: 0;
    left: 0;
  }
  &::after {
    color: #F5B76E;
    overflow: hidden;
  }
}

@for $i from 0 through 10 {
  .starRate[data-rate="#{$i * 0.5}"]::after {
    width: $i * 0.56 * $star-width;
  }
}