.book {
  width: 955px;
  height: 348px;
  display: flex;
  margin: 105px auto;

  .bookThumbnail {
    width: 228px;
    height: 318px;
    margin-top: 8px;
    margin-left: 60px;
  }

  .noThumbnail {
    border: solid 1px rgb(219, 219, 219);
    font-size: 20px;
    text-align: center;
    line-height: 318px;
  }

  .bookInfo {
    margin-left: 52px;

    .title {
      font-size: 28px;
      font-weight: 700;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    .subTitle,
    .authors,
    .publisher,
    .description,
    .publishedDate,
    .pageCount {
      font-weight: 400;
    }

    .authors, .publisher, .description{
      font-size: 18px;
    }

    .publishedDate, .pageCount{
      font-size: 16px;
    }

    .description, .publishedDate{
      margin-bottom: 0;
    }

    .subTitle {
      font-size: 20px;
      margin-top: 8px;
    }

    .authors {
      padding: 0;
      margin-top: 24px;

      & > a {
        text-decoration: none;
        margin-left: 4px;
        &:first-child {
          margin-left: 0;
        }

        &::after {
          content: ',';
          padding-left: 4px;
          color: black;
        }

        &:last-child::after {
          content: '(著)';
          color: black;
        }
      }
    }

    .rate {
      width: 126px;
      height: 19px;
      margin-top: 16px;
    }

    .publisher {
      font-weight: 400;
      margin-top: 17px;
    }

    hr {
      width: 558px;
      margin-top: 29px;
    }

    .description {
      width: 558px;
      line-height: 21px;
      margin-top: 20px;
    }

    .publishedDate {
      font-size: 16px;
      list-style: none;
      display: flex;
      padding: 0;
      margin-top: 10px;

      & > li:first-child::after {
        content: '年';
      }
      & > li:last-child::after{
        content: '月発売';
      }
    }

    .pageCount {
      font-size: 16px;
      margin-top: 8px;
    }
  }
}